html{
    background-image: url(Image/background-tech.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;    
}

#body{
    width: 70%;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 15px;
    
}

.imageLogo {
    width: 100px;
}

.div1{
    text-align: center;
}

h1{
    font-size: 22px;
}

.column1 {
    float: left;
  width: 30%;
  padding: 10px;

}

.column2{
    float: left;
  width: 70%;
  padding: 10px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

.div2 {
    
    display: flex;
    
  }

  .h3subtitle {
      text-align: center;
  }

  .h2text1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #044dae;
  }

  .h3text1, .ptext {
      font-size: 16px;
      color: #5b5b5b;
  }

  .ptext2{
      color: #c04822;
  }

  .h3subtitle {
      color: #5b5b5b
  }

  .h5title {
      font-size: 43px;
    line-height: 0;
    padding: 20px;
    display: inline;
  }

  a{
      text-decoration: none;
  }
  .div22311{
      background-color: blue;
  }

 