html{
    background-image: url(Image/background-tech.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;    
}

#body{
    width: 70%;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 15px;
    
}

.imageLogo {
    width: 100px;
}

.div1{
    text-align: center;
}

h1{
    font-size: 22px;
}

.column1 {
    float: left;
  width: 30%;
  padding: 10px;

}

.column2{
    float: left;
  width: 70%;
  padding: 10px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

.div2 {
    
    display: flex;
    
  }

  .h3subtitle {
      text-align: center;
  }

  .h2text1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #044dae;
  }

  .h3text1, .ptext {
      font-size: 16px;
      color: #5b5b5b;
  }

  .ptext2{
      color: #c04822;
  }

  .h4title{
    color: #5b5b5b
  }

  .h3subtitle {
      color: #5b5b5b
  }

  .h5title {
      font-size: 43px;
    line-height: 0;
    padding: 20px;
    display: inline;
  }

  .pathline{
      stroke: black;
      stroke-width: 3;
      fill: none;
  }

  a{
      text-decoration: none;
      color: #5b5b5b;
  }


  .div2231{
    /* background-color: #7fc8eb3d; */
    padding: 3%;
    display: flex;
    align-items: center;
    column-gap: 10%;
    justify-content: center;
  }

  .div22311, .div22312{
    text-align: center;
    padding: 2%;
    border: 2px solid #044dae;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 2px 3px #044dae;;
}
  
  .imglist, .homeworkimg {
      width: 30%;
  }
 
  .textoButtons {
      font-size: 13px;
      margin: 1px;
  }